@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.container {
  background-color: rgba(59, 59, 59, 0.933);
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
}

.topnav {
  background-color: #43c0f6;
  position: relative;
  min-height: 10vh;
  width: 100%;
  top: 0px;
  display: grid;
  font-size: calc(10px + 2vmin);
  font-family: 'Open Sans', sans-serif;
  color: white;
  padding: 0px 5px;
}

.logo {
  left: 0px; 
  position: absolute;
}

.links {
  position: absolute;
 top: 20px;
 left: 30vw;

}

.links a {
  background-color: none;
  margin: none;
  font-family: 'Open Sans', sans-serif;
  padding: 0vh 2vw;
  color: white;
  text-decoration: none;
  font-size: 16px
}

.langLog {
position: absolute;
width: 200px;
height: 50px;
top: 7.5px;
right: 10px;
display: grid;  
margin: 10px;
}

.langLog button{
  background-color: none;
  position: relative;
  padding: 0px; 
  }

img {
  position: relative;
  width: 100%;
}

.headerText {
  position: absolute; 
   top: 75px; 
   left: 50px; 
   width: 40%;
   color: #707070;
}

.headerText span {
  color: #43c0f6;
}

/* .headerText button [
  
] */